.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #345;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding: 20px 0;
  background: #ffcb34;
  color: #333;
}

.CustomPanel {
    padding: 10px;
    background: #ececeb;
    margin: 10px;
    color:#333;
    transition: all 0.45s ease-in;
}

.CustomPanel:hover {
  background: #f9eba9;
}

.CustomPanel h5{
  color: #e45;
  font-size: 16px;
}

.ListCustom {
  padding: 6px 0;
}

.ListItemCustom {
  padding: 6px 10px;
  border-radius: 3px;
  background: #31708f;
  color: #fff;
  margin:2px 5px;
  display:inline-block;
  cursor: pointer;
}

.ListItemCustomClicked {
  padding: 6px 10px;
  border-radius: 3px;
  background: #0aca00;
  color: #fff;
  margin:2px 5px;
  display:inline-block;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
